# Node
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*

# Python
__pycache__/
*.pyc
.venv/
venv/

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/